<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Slider</title>
	<link rel="stylesheet" href="carousel.css">
</head>
<body>
	
	<div id="slider" class="slider">
		<div class="slider-content">
			<div class="slider-content-wrapper">
				<img class="slider-content__item image-1" src="../images/wed1.jpg" alt="no wedding"></img>
				<img class="slider-content__item image-2"  src="../images/wed2.jpg" alt="no wedding"></img>
				<img class="slider-content__item image-3"  src="../images/wed3.jpg" alt="no wedding"></img>
				<img class="slider-content__item image-4" src="../images/wed4.jpg" alt="no wedding"></img>
				<img class="slider-content__item image-5" src="../images/wed5.jpg" alt="no wedding"></img>
				<img class="slider-content__item image-6" src="../images/wed6.jpg" alt="no wedding"></img>
			</div>
            
		</div>
	</div>
    <script src="carousel.js"></script>
</body>
</html>